USE [master]
GO
/****** Object:  Database [CarShopDB]    Script Date: 29.11.2023 20:32:54 ******/
CREATE DATABASE [CarShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarShopDB', FILENAME = N'I:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarShopDB_log', FILENAME = N'I:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarShopDB]
GO
/****** Object:  Table [dbo].[buying]    Script Date: 29.11.2023 20:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buying](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerFname] [nvarchar](50) NOT NULL,
	[customerLname] [nvarchar](50) NOT NULL,
	[carID] [int] NOT NULL,
	[purchaseAmount] [nvarchar](50) NOT NULL,
	[purchaseDate] [date] NOT NULL,
 CONSTRAINT [PK_buying] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car]    Script Date: 29.11.2023 20:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[complectationID] [int] NOT NULL,
	[price] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_car] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complectation]    Script Date: 29.11.2023 20:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complectation](
	[id] [int] NOT NULL,
	[title] [nchar](10) NOT NULL,
 CONSTRAINT [PK_complectation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 29.11.2023 20:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userlog]    Script Date: 29.11.2023 20:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userlog](
	[id] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[roleID] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[buying] ON 

INSERT [dbo].[buying] ([id], [customerFname], [customerLname], [carID], [purchaseAmount], [purchaseDate]) VALUES (1, N'Customer1', N'Customer1', 1, N'9 970 000', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[buying] ([id], [customerFname], [customerLname], [carID], [purchaseAmount], [purchaseDate]) VALUES (8, N'Арсений', N'Пастухов ', 14, N'999.000', CAST(N'2023-01-21' AS Date))
INSERT [dbo].[buying] ([id], [customerFname], [customerLname], [carID], [purchaseAmount], [purchaseDate]) VALUES (9, N'Даниил', N'Баранов', 20, N'4 000 000', CAST(N'2023-01-27' AS Date))
SET IDENTITY_INSERT [dbo].[buying] OFF
GO
SET IDENTITY_INSERT [dbo].[car] ON 

INSERT [dbo].[car] ([id], [name], [model], [color], [complectationID], [price]) VALUES (1, N'Jeep', N'Grand Cherokee', N'White', 3, N'9 970 000')
INSERT [dbo].[car] ([id], [name], [model], [color], [complectationID], [price]) VALUES (8, N'Acura', N'NSX', N'Red', 2, N'3 990 000')
INSERT [dbo].[car] ([id], [name], [model], [color], [complectationID], [price]) VALUES (9, N'BMW', N'M5 F90', N'Black', 3, N'6 960 000')
SET IDENTITY_INSERT [dbo].[car] OFF
GO
INSERT [dbo].[complectation] ([id], [title]) VALUES (1, N'Minimum   ')
INSERT [dbo].[complectation] ([id], [title]) VALUES (2, N'Average   ')
INSERT [dbo].[complectation] ([id], [title]) VALUES (3, N'Maximum   ')
GO
INSERT [dbo].[role] ([id], [title]) VALUES (1, N'Admin')
INSERT [dbo].[role] ([id], [title]) VALUES (2, N'User')
GO
INSERT [dbo].[userlog] ([id], [login], [password], [roleID]) VALUES (1, N'0', N'0', 1)
INSERT [dbo].[userlog] ([id], [login], [password], [roleID]) VALUES (2, N'1', N'1', 2)
GO
ALTER TABLE [dbo].[buying]  WITH CHECK ADD  CONSTRAINT [FK_buying_car] FOREIGN KEY([carID])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[buying] CHECK CONSTRAINT [FK_buying_car]
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD  CONSTRAINT [FK_car_complectation] FOREIGN KEY([complectationID])
REFERENCES [dbo].[complectation] ([id])
GO
ALTER TABLE [dbo].[car] CHECK CONSTRAINT [FK_car_complectation]
GO
ALTER TABLE [dbo].[userlog]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([roleID])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[userlog] CHECK CONSTRAINT [FK_user_role]
GO
USE [master]
GO
